@media (max-width: 767px) {
    .head{height: 700px;
        &__headr{
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
            width: 262px;
            height: 196px;
            margin-left: 57px;
            padding-top: 147px;}
        &__text{color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            width: 296px;
            height: 60px;
            margin-left: 40px;}
        &__lk{font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;}
        &__link{margin-left: 46px;
           margin-top: 36px;
           width: 285px;
           height: 55px;}
        &__button{
            padding: 16px 103px 16px 103px;
            font-family: Montserrat;
            font-size: 16px;}            
    }
    .about-games{display:none;}
    .mini-games{
        &__card{flex-direction: column-reverse;
        width: 343px;}
        &__pict{ width: 343px;
            height: 284.93px;}
        &__headr{padding-left: 16px;
            margin-top: 48px;
            font-size: 40px;
            line-height: 49px;}
        &__block{
            margin-left: 16px;
            margin-top: 48px;}
        &__name{font-size: 32px;
            line-height: 39px;}
        &__text{font-size: 16px;
            line-height: 20px;
            margin-top: 16px;}
        &__incard{
            padding: 29.04px 29.04px 32.67px 29.04px;
        }    
        &__button{font-size: 16px;
            width: 285px;
            height: 55px;
            margin-top: 32px;}                
    }
    
}